# dependencies
node_modules
bower_components

# compiled output
/dist
/.tmp

# System Files
.DS_Store
Thumbs.db

.vscode

# Archivos de pruebas

# Ajax
app/12.ajax.p1_async.html
app/scripts/practicas_ajax/p1_async.js